[submodule "0x00-hello_world/0x00-hello_world/alx-low_level_programming"]
	path = 0x00-hello_world/0x00-hello_world/alx-low_level_programming
	url = https://github.com/Walingua/alx-low_level_programming.git
